includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app/UI/Components/
        - app/Concerns/
        - app/Actions/Images/
        - app/Jobs/
        - app/Livewire/Images/